* {
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* HEADER */
header {
    background-color: #c0c0c027;
    border-bottom: 1px solid #c0c0c0;
    padding-block: 1.5em;
}

.logo {
    align-items: center;
    display: flex;
    gap: 0.7em;
    justify-content: center;
}

.logo-img {
    width: 2.7em;
}

.logo-img img {
    width: 100%;
}

h1 {
    font-size: 2em;
}
/* FIM DA HEADER */

h1, h2, th {
    font-weight: bold;
}

/* MAIN */
main {
    padding-inline: 2.5vw;
}

h2 {
    border-bottom: 1px solid #c0c0c0;
    font-size: 1.5em;
    margin-bottom: 0.7em;
    padding-block: 1.3em;
}

[for="filtro"] {
    margin-block: 1em 1.3em;
}

table {
    table-layout: fixed;
    text-align: center;
    width: 100%;
}

th, td {
    display: table-cell;
    border: 1px solid #c0c0c0;
    padding: 0.3em;
    vertical-align: middle;
}

th, tr:nth-child(2n) {
    background-color: #c0c0c027;
}

/* CLASSES JS */
.peso-invalido {
	background-color: #ff6347;
}

.altura-invalida {
	background-color: #ffa500;
}

.animacao-remocao {
    opacity: 0;
    transition: 0.35s;
}

.paciente-invisivel {
    display: none;
}
/* FIM DAS CLASSES JS */

/* FORM */
#mensagens-erro {
    color: #ff4500;
    font-weight: bold;
}

.infos-novo-paciente {
    padding-inline: 1em;
}

.infos-novo-paciente > * {
    margin-bottom: 1em;
}

.numeros-novo-paciente {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

label {
    display: flex;
    flex-direction: column;
}

label input {
    margin-top: 0.3em;
}

label input, .botao-adicionar {
    border: 1px solid #c0c0c0;
    padding: 0.3em;
}

.botao-adicionar {
    color: #ffffff;
    background-color: #7b68ee;
    border-radius: 0;
    margin-top: 1em;
    padding: 0.5em 1.5em;
}

.botao-adicionar:hover {
    background-color: #543ae9;
    box-shadow: 1px 1px #c0c0c0, -1px -1px #c0c0c0;
}
/* FIM DA FORM */
/* FIM DA MAIN */

/* BREAKPOINT TABLET */
@media screen and (min-width: 690px) {
    body {
        font-size: 1.15em;
    }

    .logo {
        justify-content: start;
        padding-left: 1em;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-inline: 3vw;
    }

    th, td, label input, .botao-adicionar {
        padding: 0.5em;
    }

    .infos-novo-paciente {
        display: flex;
        flex-direction: column;
    }

    .numeros-novo-paciente {
        flex-direction: row;
    }

    .numeros-novo-paciente label {
        width: 33%;
    }

    .botao-adicionar, input {
        font-size: 0.75em;
    }
}

/* BREAKPOINT DESKTOP */
@media screen and (min-width: 1100px) {
    body {
        font-size: 1.2em;
    }

    .logo {
        padding-left: 15vw;
    }

    main {
        padding-inline: 15vw;
    }

    .infos-novo-paciente {
        padding-inline: 2em;
    }

    .botao-adicionar {
        width: 32.1%;
    }

    .botao-adicionar, input {
        font-size: 0.9em;
    }
}

/* BREAKPOINT DESKTOP */
@media screen and (min-width: 1600px) {
    body {
        font-size: 1.25em;
    }
}