@import url("../componentes/cabecalho.css");
@import url("../componentes/rodape.css");

/* HEADER */
.capa {
    background-color: var(--marrom-transparente);
    height: 25vh;
    width: 100vw;
}

.capa img {
    mix-blend-mode: multiply;
    object-fit: cover;
    height: 100%;
    width: 100%;
}
/* FIM DA HEADER */

@media screen and (min-width: 690px) {
    /* HEADER */
    .capa {
        height: 100%;
        width: 100%;
    }
}

/* MAIN */
/* SEÇÃO SOBRE */
#sobre {
    text-align: justify;
}

cite {
    font-weight: bolder;
}

/* SEÇÃO BENEFÍCIOS */
#beneficios {
    background-color: var(--marrom-transparente);
}

.beneficios-corpo {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
}

.beneficios-texto ul {
    padding-inline: 10vw 5vw;
}

.beneficios-texto ul li {
    list-style: disc;
    margin-bottom: 0.3em;
}

.beneficios-imagem {
    width: 100vw;
}

.beneficios-imagem img {
    max-width: 100%;
    width: 100%;
}
/* FIM DA MAIN */

/* BREAKPOINT TABLET */
@media screen and (min-width: 690px) {
    /* MAIN */
    .beneficios-corpo {
        flex-direction: row;
        gap: 10%;
        padding-inline: 5vw;
    }

    .beneficios-texto {
        margin-top: auto;
        margin-bottom: auto;
        width: 40%;
    }

    .beneficios-texto ul {
        padding-inline: 1em 0;
    }

    .beneficios-texto h2 {
        text-align: start;
    }

    .beneficios-imagem {
        display: flex;
        width: 40%;
    }

    .beneficios-imagem img {
        margin-left: auto;
        width: 25vw;
    }
}

/* BREAKPOINT DESKTOP */
@media screen and (min-width: 1100px) {
    /* MAIN */
    section {
        padding: 10vh 10vw;
    }
}